nav {
    grid-area: nav;
    background: $background-color-dark;
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
        display: inline-block;
        padding: 0px 5px;
        font-size: $font-size-medium;
    }
}
@media screen and (max-width: 640px){
    nav {
        li {
            display: inline-block;
            padding: 0px 3px;
        }
    }
}