.menu__context {
    position: absolute;
    top: 77px;
    left: 30%;

    background: $background-color-light;
    box-shadow: 0px 0px 1px;
    border-radius: 5px;
}

.menu__context_hidden {
    visibility: hidden;
}

.menu__context>span {
    background: $background-color-middle;
}

.menu__context .table__wrapper {
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 215px;
}

.menu__context .table__wrapper .table__row {
    width: 90%;
}

.menu__context .table__wrapper .table__row .table__data {
    width: 100%;
}

.menu__context .table__wrapper .table__row:hover{
    background-color: $background-color-middle;
}

.menu__context .button__image {
    height: 15px;
}

.menu__context .button__image:hover {
    cursor: pointer;
    transform: scale(1.1);
}