.table_wrapper {
  border-spacing: 0px;
  thead {
    font-weight: bold;
  }
  tr {
    background: $background-color-light;
    &:nth-last-child(odd){
      background: $background-color-middle;
    }
  }
  td {
    padding: 10px;
  }
  button {
    font-size: $font-size-medium;
    border: 0px;
    background: transparent;
    cursor: pointer;
    margin: 10px 0px;
  }
}