@mixin input_border {
	border: .1rem solid $background-color-dark;
	border-radius: 1.5rem;
	padding: .5rem 1rem;
}
.item_form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: .1rem solid $border-color-dark;
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem 0;
	gap: 1rem;
	input,
	select {
		@include input_border;
	}
	/* input[type=number]{
		width: 6rem;
	} */
	button {
		@include input_border;
		border: 0;
		background: $background-color-middle;
		&:hover {
			background: $background-color-accent;
			box-shadow: .1rem .1rem .3rem $background-color-middle;
    	transform: translateY(-0.1rem);
		}
	};
}
.field__container {
  display: flex;
  flex-direction: column;
}
.field__button_container{
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	width: 100%;
	flex: 1 0 auto;
}
.invisible {
	display: none;
}
.table__wrapper {
	display: flex;
	flex-direction: column;
}
.table__header {
	display: flex;
	background: $background-color-middle;
	position: sticky;
	top: 60px;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: .1rem .1rem .2rem $background-color-dark;
}
.table__row {
	display: flex;
	padding: 5px 10px;
	&:nth-child(even){
		background: $background-color-accent;
		border-radius: .5rem;
	}
}
.table__data {
	width: 14%;
}
@media screen and (max-width: 640px){
	.item_form {
		padding: 1rem;
		gap: .5rem;
	}
	.table__header{
		top: 40px;
	}
}