.news__list{
    margin: 0 auto;
    width: 70%;
}

.news__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: $background-color-light;
    padding: 2rem;
    border-bottom: .5rem dotted $border-color-middle;
}

.news__item img {
    width: 100%;
    border-radius: 1rem;
}