.index {
    grid-template-areas:
        'header nav auth'
        'main main main'
        'footer footer footer';

    main {
      height: 100%;
      padding: 20px 0px;
    }
    header,
    nav,
    .auth {
        background: $background-color-light;
    }

    footer {
        background: $background-color-middle;
    }

    main {
        display: flex;
        gap: 10px;
    }

    aside {
        display: none;
    }
}

.promo {
    background-image: url('../../../../assets/images/backgroung-trucks.webp');
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    width: auto;
    color: $font-color-light;
    font-size: $font-size-big;
    padding: 40px;
    
    h3 {
        text-align: center;
    }
    ul {
        margin: 0 auto;
        width: 70%;
        min-height: 550px;
        background: $background-color-ultra-light;
        padding: 30px 40px;
        color: $font-color-dark;
        border-radius: 10px;
        font-size: $font-size-big;

        li {
            margin: 15px 5px;
        }
    }
}

@media screen and (max-width: 640px){
    main {
        padding: 10px 15px;
    }

    .promo {    
        ul {
            min-height: 300px;
            li {
                margin: 10px 5px;
            }
        }
    }
}