.auth {
    grid-area: auth;
    background: $background-color-dark;
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.auth__login {
    background: #9cb9bd;
}

.auth__registration {
    background: #85685f;
}

form[name=login] {
    position: absolute;
    right: 0;
    top: 30px;
    background: $background-color-middle;
    margin: 4rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;

    input {
        border: 0px;
        border-radius: .5rem;
        margin: 1rem 0;
        padding: .5rem;

        &:invalid {
            border: 1px solid $border-color-error;
        }

        &:disabled {
            opacity: 0.3;
        }
    }
}

.auth__name {
    visibility: hidden;
}

.auth__name_visible {
    visibility: visible;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    &::before{
        content: ' ';
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-image: url(../../../../assets/icons/user.png);
        background-size: contain;
        margin-right: 1rem;
    }
}