header {
    grid-area: header;
    background: $background-color-dark;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 20px;
    text-transform: uppercase;
}
@media screen and (max-width: 640px){
    header{
        padding: 10px;
    }
    h1 {
        font-size: 16px;
    }
}