.big__button {
  font-size    : $font-size-medium;
  border       : 0px;
  border-radius: 18px;
  padding      : 5px 10px;
  margin       : 10px;

  &:not(:disabled):hover {
    background: $background-color-accent;
    cursor: pointer;
  }
}

.big__button_hidden {
  visibility: hidden;
}

.wide__button {
    min-width: 120px;
}

@media screen and (max-width: 640px){
  .big__button{
    border       : 0px;
    border-radius: 14px;
    padding      : 3px 7px;
    margin       : 5px;
  }
}