$background-color-light : #ffffffde;
$background-color-middle: #4c577abd;
$background-color-dark  : #02010aa1;
$background-color-accent: #98b5daab;

$font-color-light : #eeecec;
$font-color-middle: #776c6c;
$font-color-dark  : #000000;
$font-color-accent: #b00000;

$border-color-error: #b00000;
$border-color-dark : #030303;