$background-color-ultra-light : #ffffff44;
$background-color-light : #ffffffde;
$background-color-middle: #4c577ae1;
$background-color-dark  : #5c587c;
$background-color-accent: #98b5daab;

$font-color-light : #eeecec;
$font-color-middle: #776c6c;
$font-color-dark  : #000000;
$font-color-accent: #b00000;

$border-color-error: #b00000;
$border-color-dark : #030303;
$border-color-middle : #b8b8b8b4;
$border-color-accent: #26a30d;

$window_background-color: #ffffffde;
$modal_background-color: #a5a5a58a;