.scroll-table__body {
	height: 300px;
	overflow-x: auto;
	margin-top: 0px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.scroll-table table {
	width:100%;
	table-layout: fixed;
	border: none;
}
.scroll-table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: $font-size-medium;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.scroll-table tbody td {
	text-align: left;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	font-size: $font-size-medium;
	vertical-align: top;
}
.scroll-table tbody tr:nth-child(even){
	background: #f3f3f3;
}
.item_form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid $border-color-dark;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0px;
	gap: 1rem;
}
.field__container {
  display: flex;
  flex-direction: column;
}
.field__button_container{
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	width: 100%;
	flex: 1 0 auto;
}
.field__button_hidden {
	display: none;
}
.table__wrapper {
	display: flex;
	flex-direction: column;
}
.table__header {
	display: flex;
	background: $background-color-middle;
	position: sticky;
	top: 60px;
	padding: 10px 10px;
}
.table__row {
	display: flex;
	padding: 5px 10px;
	&:nth-child(even){
		background: $background-color-accent;
	}
}
.table__data {
	width: 14%;
}
@media screen and (max-width: 640px){
	.table__header{
		top: 40px;
	}
}