.map__wrapper {
    height: 100%;
    width: 100%;
}

.map__popup_title {
    font-size: $font-size-medium;
    text-align: center;
}

.map__popup_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-evenly;
    margin: 5px;
}

.map__popup_small-button {
    @include button;
    width: 15rem;
}

.leaflet-container {
    font-size: $font-size-medium;
}

.leaflet-popup-content {
    min-width: 50rem !important;
}

.leaflet-routing-alt {
    height: 60%;
}
.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1300px){
    .map__popup_buttons {
        flex-direction: column;
        align-items: center;
    }
    .leaflet-popup-content {
        min-width: 15rem !important;
        max-width: 20rem !important
    }
    .leaflet-routing-container {
        width: 80%;
    }
    .leaflet-routing-alt {
        height: 15rem;
    }
    
    .leaflet-right {
        right: 1rem;
      }
    .leaflet-top {
        top: auto;
        bottom: 2rem;
    }
}