.map__wrapper {
    height: 100%;
    width: 100%;
}

.map__popup_title {
    font-size: $font-size-medium;
    text-align: center;
}

.map__popup_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
}

.map__popup_small-button {
    @include button;
    width: 15rem;
}

.leaflet-container {
    font-size: $font-size-medium;
}
.leaflet-popup-content {
    width: 45rem !important;
}

@media screen and (max-width: 640px) {
    .map__popup_small-button {
        border: 0px;
        border-radius: 8px;
        padding: 3px 4px;
        margin: 5px;
    }
}