.map__wrapper {
    height: 100%;
    width: 100%;
}

.map__popup_title {
    font-size: $font-size-medium;
    text-align: center;
}

.map__popup_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
}

.map__popup_small-button {
    @include button;
    width: 15rem;
}

.leaflet-container {
    font-size: $font-size-medium;
}

.leaflet-popup-content {
    width: 14rem !important;
}

.leaflet-routing-alt {
    height: 60%;
}

@media screen and (max-width: 640px) {
    .map__popup_small-button {
        border: 0px;
        border-radius: 8px;
        padding: 3px 4px;
        margin: 5px;
    }
}

@media screen and (max-width: 1300px){
    .leaflet-routing-container {
        width: 80%;
    }
    .leaflet-routing-alt {
        height: 15rem;
    }
    
    .leaflet-right {
        right: 1rem;
      }
    .leaflet-top {
        top: auto;
        bottom: 2rem;
    }
}