body {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px auto 300px;
  grid-template-rows: 50px calc(100vh - 100px) 50px;
  grid-template-areas:
    'header nav auth'
    'aside main main'
    'footer footer footer';
  color: $font-color-dark;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: $font-color-dark;
}
a:visited {
  color: $font-color-dark;
}
.index {
  background-image: url('../assets/images/backgroung-trucks.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  header,
  nav,
  .auth,
  footer {
    background: $background-color-light;
  }
  main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }
  aside {
    background: transparent;
  }
}