main {
  grid-area: main;
  padding: 20px 30px;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 20px;
  color: $font-color-light;
}
.promo {
  margin: 40px 20px;
  color: $font-color-light;
  font-size: 25px;
  ul {
    color: $font-color-dark;
    font-size: 18px;
    li {
      margin: 15px 5px;
    }
  }
}