nav {
  grid-area: nav;
  background: $background-color-light;
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    display: inline-block;
    padding: 0px 10px;
    font-size: 16px;
  }
}