$background-color-light: rgba(255, 255, 255, 0.5);
$background-color-middle: #f0f0f0;
$background-color-dark: rgba(0, 0, 0, 0.5);
$background-color-accent: #c59797;

$font-color-light: #eeecec;
$font-color-middle: #776c6c;
$font-color-dark: #000000;
$font-color-accent: #b00000;

$border-color-error: #b00000;