.footer {
    grid-area      : footer;
    display        : flex;
    justify-content: center;
    gap            : 40px;
    background     : $background-color_dark;
}

.footer__item {
    display    : flex;
    align-items: center;

    img {
        height : 20px;
        padding: 0px 10px;
    }
}