main {
  grid-area: main;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 20px;
  color: $font-color-light;
}
.promo {
  width: 70%;
  height: 80vh;
  margin: 40px 20px;
  color: $font-color-light;
  font-size: 25px;
  ul {
    color: $font-color-dark;
    font-size: 18px;
    li {
      margin: 15px 5px;
    }
  }
}
.news {
  width: 70%;
  margin: 40px 20px;
}
.user__overview {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.user__data {
  width: 30%;
} 
.user__map {
  width: 70%;
}